header{
  display: flex;
  background-color: #282c34;
  width: 100%;
  height: fit-content;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child > img { 
  max-width: 100%;
  height: auto;
}





